/*  Resets generales */

*{
  box-sizing: border-box;
}
ul, ol{
  padding: 0;
}
li{
  list-style-type: none;
}
a{
  color: #000;
  text-decoration: none;
}

body{
  font-family: "Poiret one";
  font-size: 25px;
  font-weight: bold;
  padding: 0;
}

/* Body */
.main-banner{
  height: auto;
  max-width: 100%;
  margin-top:1em;
  width:100%;
}
.accionables-container{
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.col1{
  flex-direction: column;
}
.link{
  margin: 1em;
}
.prod1{
}
.prod2{
}
.art1{
}
.art2{
}

@media (min-width: 992px){
  .main-container{
    width: 90%;
    margin: 0 auto;
  }
  .main-banner{
  /*  margin-top:3em;*/
  }
.accionables-container{
  display: flex;
  flex-flow: wrap row;
  align-content:flex-start;
}
.col1{
  display: flex;
  flex-flow: wrap row;
  width: 50%;
}
.col2{
  width: 50%;
}
.link.prod1{
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}
.link.prod2{
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}
.link.art1{
    margin-top: 0.5em;
    margin-right: 0.5em;
}
.link.art2{
    margin-top: 0.5em;
    margin-left: 0.5em;
}
/*MENU DE NAVEGACION  ---------*/
.barra{
  position: fixed;
  background-color: #fff;
  width: 100%;
  display:inline-flex;
  justify-content:space-between;
  flex-direction:row;
  border-bottom:solid 1px #DEDEDE;
  height: 40px;
  z-index: 800;
  margin: 0;
  top:0;
}
/*menu*/

.barra nav{
  width:33.3%;
}
.navm {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  text-align: left;
}
.navm li a{
  text-decoration: none;
  /*color: black;*/
}
/*submenus*/
.linkm{
  display: flex;
  flex-direction: column;
  width: 30%;
}
.linkm a{
  color: rgba(0, 0, 0, 0.6);
}
.submenu {
				display:none;
        padding:0;
        margin:0;
			}
.linkm:hover > ul {
      				display:block;
              background-color: rgba(255,255,255, 0.5);
}
.subelemento{
    padding: 15px 0;
}
.subelemento a:hover{
  font-weight: bold;
  color: #D74B4B;
}
.subelemento a{
  padding-left:8px;
  font-size: 20px;
  font-weight: normal;
  color: rgb(0, 0, 0);
}
.primersub{
  padding-top: 35px;
}
.submenu{
  list-style: none;
}
/*submenus fin*/
/*menu fin*/
/*contenedor logo*/
.contenedor-logo{
  width:33.3%;
  text-align: center;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor-logo a{
  text-decoration: none;
  color: black;
}
.contenedor-logo a img{
    width: 30px;
    margin: 0px 15px;
}
/*contenedor logo fin*/
/*contendor login*/
.contenedor-login{
  width: 33.3%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blogin{
  margin-right:35px;
}
/*fin contendor login*/
/*barra fin*/

/* FIN MENU DE NAVEGACION*/
