*{
  box-sizing: border-box;
}
ul, ol{
  padding: 0;
}
li{
  list-style-type: none;
}
a{
  color: #000;
  text-decoration: none;
}

body{
  font-family: "Poiret one";
  font-size: 25px;
  font-weight: bold;
  padding: 0;
}
/* Body */
.main-banner{
  height: auto;
  max-width: 100%;
  width:100%;
}
.container{
  background-color: rgba(0, 0, 0, 0.1);
  margin:0 auto;
  max-width:none;
}
.container.row{
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
}
.col1{
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  padding: 0;
}
.col2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top:1em;
  margin-bottom: 1em;
}
.link{
  margin: 1em;
}
/*MENU DE NAVEGACION  ---------*/
.menu a{
  color: #000000;
}
.menu a:hover{
  color: #D74B4B;
  text-decoration: none;
  font-weight: bold;
}
.marcas{
  color: #000000;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgmarcas{
  width: 120px;
  margin:0 25px;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .2s ease-in-out;
}
.imgmarcas:hover{
  filter: none;
     -webkit-filter: grayscale(0);
     -webkit-transform: scale(1.01);
}
.logo{
display: flex;
align-items: center;
justify-content: center;
  font-size: 35px;
}
.logoimg{
  width: 30px;
  margin:0 5px;
  vertical-align: baseline;
}
.registro{
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: center;
}
.mycollapse{
  width: 100%;
}
.mycard{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
/* REGISTRO DEL MENU DE NAVEGACION */
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}
.form-label-group input {
  height: auto;
  border-radius: 2rem;
}
.custom-control-label{
  font-size: 15px;
}
.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}
.form-control:focus {
  border-color:#D74B4B !important;
  box-shadow: 0 0 5px rgba(183, 22, 31, 0.5) !important;
}
/* FIN MENU DE NAVEGACION*/
/*Footer*/
.page-footer {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(74,74,74,1) 90%, rgba(217,215,215,1) 100%);
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}
h6{
  font-family: bold;
}
@media (min-width:576px) and (max-width:767px) {
  .col1{
    max-width:none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .col2{
    max-width:none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media(min-width:768px) and (max-width:991px){
  .col1{
    max-width:none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .col2{
    max-width:none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 992px) and (min-width:1189px){
  .accionables-container.row{
    flex-direction: row;
  }
  .col1{
    max-width:none;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
  }
  .col2{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
