*{
  box-sizing: border-box;
}
ul, ol{
  padding: 0;
}
li{
  list-style-type: none;
}
a{
  color: #000;
  text-decoration: none;
}

body{
  font-family: "Poiret one";
  font-size: 25px;
  font-weight: bold;
  padding: 0;
}

.col1{
  justify-content: space-around;
  text-align: center;
}

@media (min-width:992px){
  .col1{
    display: flex;
    flex-flow: wrap row;
    width: 50%;
  }
  .col2{
    width: 50%;
}
